@use "../styles/mixins";

.container {
  border-top: 0.5rem solid var(--color-ui-foreground);

  @include mixins.lg {
    border-radius: 1rem;
    border: 0.5rem solid var(--color-ui-foreground);
  }
}
