@use "../styles/mixins";
@use "../styles/globals";

.header {
  margin: 1rem 0 1rem 0;

  @include mixins.lg {
    margin: 1rem 0 2rem 0;
  }

  h1 {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    overflow: hidden;
    transition: font-size globals.$mode-transition-speed ease;

    @include mixins.sm {
      font-size: 2rem;
    }

    @include mixins.xl {
      font-size: 3rem;
    }
  }
}
