.cardLink {
  text-decoration: none;
  color: inherit;

  button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      text-align: left;
    }
  }

  .thumbText {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  svg {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
  }
}
