.container {
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
  backdrop-filter: blur(0.5rem);

  a {
    color: var(--color-ui-foreground);

    &:visited {
      color: var(--color-ui-hover);
    }

    &:hover {
      color: var(--color-ui-hover);
    }

    &:hover:visited {
      color: var(--color-ui-foreground);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Space Grotesk", sans-serif;
  }
}
