@use "../styles/mixins";

.navContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  @include mixins.md {
    width: auto;
    height: 100%;
    flex-direction: row;
  }

  .nav {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-top: 0.1rem dashed var(--color-ui-foreground);

    @include mixins.md {
      padding: 2rem 1rem;
      flex-direction: column;
      border-top: none;
      border-right: 0.1rem dashed var(--color-ui-foreground);
    }

    a,
    button {
      color: var(--color-ui-foreground);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      label {
        font-family: "Space Grotesk", sans-serif;
      }

      svg {
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
      }

      div {
        width: 100%;
      }

      @include mixins.md {
        svg {
          font-size: 3rem;
          width: 3rem;
          height: 3rem;
        }
        width: 4rem;
      }

      &:hover {
        color: var(--color-ui-hover);
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    .divider {
      flex: 1;
    }
  }
}
