.typography {
  margin: 0;
  padding: 0;

  &.extraLarge {
    font-size: 10rem;
  }

  &.large {
    font-size: 2rem;
  }

  &.medium {
    font-size: 1.5rem;
  }

  &.small {
    font-size: 1rem;
  }

  &.extraSmall {
    font-size: 0.75rem;
  }

  &.bold {
    font-weight: 700;
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  &.regular {
    font-weight: 400;
  }

  &.light {
    font-weight: 300;
  }

  &.medium {
    font-weight: 500;
  }
}
