.typography {
  margin: 0;
  padding: 0;

  &.huge {
    font-size: 10rem;
    line-height: 10rem;
    font-family: "Space Grotesk", sans-serif;
  }

  &.extraLarge {
    font-size: 3rem;
    line-height: 3rem;
    font-family: "Space Grotesk", sans-serif;
  }

  &.large {
    font-size: 2rem;
    line-height: 2rem;
    font-family: "Space Grotesk", sans-serif;
  }

  &.medium {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: "Space Grotesk", sans-serif;
  }

  &.small {
    font-size: 1rem;
    line-height: 1rem;
  }

  &.extraSmall {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }

  &.bold {
    font-weight: 700;
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  &.regular {
    font-weight: 400;
  }

  &.light {
    font-weight: 300;
  }

  &.medium {
    font-weight: 500;
  }

  &.drop {
    position: relative;
    z-index: 0;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0.05em;
      left: 0.05em;
      color: var(--drop-color);
      z-index: -1;
    }
  }
}

span.typography {
  display: inline-block;
  width: 100%;
}

:global(.dark-mode) {
  .typography {
    &.drop {
      color: var(--drop-color);
      &::before {
        color: var(--color-ui-foreground);
      }
    }
  }
}
