@use "../styles/mixins";
@use "../styles/globals";
@use "../styles/breakpoints";

* {
  transition: all globals.$mode-transition-speed ease;
  transition-property: background-color, padding, font-size;
  --color-ui-background: #000;
  --color-ui-foreground: #fff;
  --color-ui-hover: #aaa;
}

div[data-animate="color"],
img,
a,
button {
  @include mixins.transition-mode;
}

.sbdocs.sbdocs-wrapper {
  background-color: var(--color-ui-background);
  color: var(--color-ui-foreground);

  .docs-story {
    .docblock-code-toggle {
      background-color: var(--color-ui-background);
      color: var(--color-ui-foreground);
      border: 1px solid var(--color-ui-foreground);
    }
  }
}

.sbdocs.sbdocs-preview {
  background-color: var(--color-ui-background);
  color: var(--color-ui-foreground);
  border: 1px solid var(--color-ui-foreground);

  > div {
    background-color: var(--color-ui-background);
    color: var(--color-ui-foreground);
    box-shadow: var(--color-ui-foreground) 0 -1px 0 0 inset;
  }
}

.sbdocs-title.sb-unstyled {
  color: var(--color-ui-foreground);
}

.docblock-argstable-head,
.docblock-argstable-body {
  border-color: var(--color-ui-foreground);

  tr {
    th,
    td {
      background-color: var(--color-ui-background) !important;
      color: var(--color-ui-foreground) !important;
      border-color: var(--color-ui-foreground) !important;

      textarea {
        background-color: var(--color-ui-background) !important;
        color: var(--color-ui-foreground) !important;
        border-color: var(--color-ui-foreground) !important;
        box-shadow: var(--color-ui-foreground) 0 0 0 1px inset;
      }
    }
  }
}
