@use "mixins";

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 2rem;
  grid-template-areas:
    "image"
    "links"
    "about";

  @include mixins.md {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    gap: 2rem;
    grid-template-areas:
      "image links"
      "about about";
  }

  .about {
    grid-area: about;
  }
  .links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    a {
      color: var(--color-ui-foreground);
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 1rem;
      text-decoration: none;

      @include mixins.md {
        font-size: 1.5rem;
      }

      @include mixins.lg {
        font-size: 2rem;
      }

      &:hover {
        color: var(--color-ui-hover);
      }

      svg {
        height: 1.5rem;
        width: 1.5rem;
        min-height: 1.5rem;
        min-width: 1.5rem;

        @include mixins.md {
          height: 2rem;
          width: 2rem;
          min-height: 2rem;
          min-width: 2rem;
        }

        @include mixins.lg {
          height: 3rem;
          width: 3rem;
          min-height: 3rem;
          min-width: 3rem;
        }
      }
    }
  }
  .image {
    grid-area: image;
    display: flex;
    justify-content: center;
    border: 0.5rem solid var(--color-ui-foreground);
    border-radius: 100%;
    background-color: #aaa;
    width: 8rem;
    height: 8rem;

    @include mixins.sm {
      width: 12rem;
      height: 12rem;
    }

    @include mixins.md {
      width: 15rem;
      height: 15rem;
    }

    @include mixins.lg {
      width: 18rem;
      height: 18rem;
    }

    img {
      filter: grayscale(100%);
      border-radius: 100%;
    }
  }
}
