@use "mixins";

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 2rem;
  grid-template-areas:
    "image"
    "links"
    "about";

  @include mixins.md {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    gap: 2rem;
    grid-template-areas:
      "image links"
      "about about";
  }

  .about {
    grid-area: about;
  }

  .links {
    grid-area: links;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include mixins.md {
      margin-left: -2rem;
    }

    .linkRootDash {
      width: 2rem;
      border-top: 0.1rem dashed var(--color-ui-foreground);
      display: none;

      @include mixins.md {
        display: block;
      }
    }

    .linkDashContainer {
      display: none;
      border-left: 0.1rem dashed var(--color-ui-foreground);
      margin: 24px 1rem 24px 0;
      height: calc(100% - 48px);

      @include mixins.md {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .linkDash {
        width: 1rem;
        border-top: 0.1rem dashed var(--color-ui-foreground);
      }
    }

    .linksInner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;
      height: 100%;
    }

    .linkText {
      font-size: min(7vw, 2rem);
      line-height: min(8vw, 2.5rem);
    }

    a {
      color: var(--color-ui-foreground);
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 1rem;
      text-decoration: none;
      font-family: "Space Grotesk", sans-serif;
      transition: opacity 0.2s ease-in-out;

      @include mixins.md {
        font-size: 1.5rem;
      }

      @include mixins.lg {
        font-size: 2rem;
      }

      &:hover {
        opacity: 0.8;
      }

      svg {
        height: 1.5rem;
        width: 1.5rem;
        min-height: 1.5rem;
        min-width: 1.5rem;

        @include mixins.md {
          height: 2rem;
          width: 2rem;
          min-height: 2rem;
          min-width: 2rem;
        }

        @include mixins.lg {
          height: 3rem;
          width: 3rem;
          min-height: 3rem;
          min-width: 3rem;
        }
      }
    }
  }
  .image {
    grid-area: image;
    display: flex;
    justify-content: center;
    border: 1px dashed var(--color-ui-foreground);
    border-radius: 100%;
    background-color: #aaa;
    width: 8rem;
    height: 8rem;

    @include mixins.sm {
      width: 12rem;
      height: 12rem;
    }

    @include mixins.md {
      width: 15rem;
      height: 15rem;
    }

    @include mixins.lg {
      width: 18rem;
      height: 18rem;
    }

    img {
      border-radius: 100%;
    }
  }
}
